<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>return</title>
    <link rel="stylesheet" href="stylesheets/ex1.css"
</head>
<body bgcolor="#E24747">
    <div class= "wallpaper">
        <div class="inner_position_bottom">
        <div class="holder_wrap_img">
        <h1 class="text">รายละเอียดการคืน</h1>
        </div>
        <img src="images/Rectangle 18.png">
    </div>
    </div>
    <form action="/return" method="post"><br><br><br><br><br><br><br><br><br><br>
    <h3 align = 'center'><input type="text"  name="ID" placeholder="กรอกรหัสนักศึกษา" required></h3><br>
    <h2 align = 'center'><button class="button">ตกลง</button></h2>
    </form><br><br>  
    </h3>
    <% if(data == "null"){ %>
        <p align = 'center'>ไม่มีข้อมูล</p>
    <% } %>
    <% if(data != "null"){ %>
    <form method="post" action="/return/delete<%= data._id%>">
            <!-- <%= data.product %><br> -->
            <!-- <%= data.borrowDate %><br> -->
            <!-- <%= data.returnDate %><br> -->
            <!-- <%= data.studentID %><br> -->
            <!-- <button class="button"><a href="/home">ยกเลิก</button></a> -->
            <!-- <button class="button" type="submit"> ตกลง</button>    -->
        <div class="holder_wrap_img1">
        <div class="inner_position_bottom1">
        <br><h3 align = 'center'><label for="fname">&nbsp; &nbsp; &nbsp; &nbsp; รหัสน.ศ</label>
            <div class="fc">
            <h3 align = 'center'><label for="fname">&nbsp; &nbsp; &nbsp; &nbsp; <%= data.studentID %><br></label>
        <!-- <input type="text" id="fname" name="fname"></h3> -->
            </div>
        <br><br><h3 align = 'center'><label for="fname">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;อุปกรณ์ที่ยืม</label>
            <div class="fc">
        <h3 align = 'center'><label for="fname">&nbsp; &nbsp; &nbsp; &nbsp; <%= data.product %><br></label>
        <!-- <input type="text" id="fname" name="fname"></h3> -->
            </div>
        <br><br><h3 align = 'center'><label for="fname">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;วันที่ยืม </label></align>
            <div class="fc">
            <h3 align = 'center'><label for="fname">&nbsp; &nbsp; &nbsp; &nbsp; <%= data.borrowDate %><br></label>
        <!-- <input type="date" id="fname" name="fname"></h3> -->
            </div>
        <br><br><h3 align = 'center'><label for="fname">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;วันกำหนดคืน </label></align>
            <div class="fc">
            <h3 align = 'center'><label for="fname">&nbsp; &nbsp; &nbsp; &nbsp; <%= data.returnDate %><br></label>
            </div>
        <br><br><h3 align = 'center'><label for="fname">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;วันที่คืน </label>
        <input type="date" id="fname" name="fname"><h3>
        
        <br><br><h3 align = 'center'><label for="fname">ค่าปรับที่ต้องชำระ </label>
        <input class="box"type="text" id="fname" name="fname"><h3>&nbsp; &nbsp; &nbsp; &nbsp;
        <br><h3 align = 'center'><button class="button" type="submit">ตกลง</button> &nbsp; &nbsp; &nbsp; &nbsp;
        <button class="button"><a href="/home">ยกเลิก</button></a>
        </div>
        <img src="images/123.png">
        </div>
    <% } %>    
     </form>
    
    <!--<script src="javascripts/return.js" type="module"></script>-->
</body>
</html>